html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

dark-blue {
  background-color: #2e4382;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-title {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

.card-image {
  position: relative;
  /* max-width: min(20%, 75px); */
  max-height: min(80px);
}

.about-divider {
  background-color: beige;
  outline-color: black;
}

.experience-divider {
  background-color: gray;
  outline-color: black;
}

.divider {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  height: 0.3em;
  outline-style: solid;
  outline-width: 0.15em;
}

.card-text {
  font-size: 1.2em;
  /* color: black; */
  /* font-weight: bold; */
  /* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black; */
}

.about-card {
  border-radius: 5%;
  padding: 1em;
  padding-top: 0.5em;
  max-width: 55vh;
  min-width: 55vh;
  outline: 3px solid black;
}

.experience-card {
  border-radius: 5%;
  padding: 1em;
  padding-top: 0.5em;
  max-width: 60vh;
  min-width: 60vh;
  outline: 3px solid black;
}

.experience-card:hover {
  background-color: rgb(196, 196, 196);
}

.link-card:hover {
  transform: scale(1.01)
}

.link-card {
  transition: all .1s ease-in-out;
}